<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="tfsUri" value="[Server]" />
    <add key="tfsDomain" value="[Domain]" />
    <add key="tfsUsername" value="[User]" />
    <add key="tfsPassword" value="[Password]" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>